.top-container {
  background-color: #E4F9F5;
  height:45.5rem;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Redressed', cursive;
}

h1 {
  margin-top: 2.8125rem;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.bottom-cloud {
  position: absolute;
  left:18.75rem;
}

.top-cloud {
  margin-top: 3.125rem;
  margin-left: 31.25rem;
}

.mountain {
  margin-top: 0;
}

a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.Profile {
  margin-top: 0.5rem;
  background-color: #FDEFF4;
}

.Skills {
  margin-top:0.5rem;
  background-color: #FBF8F1;
}
.English{
  background-color: #FFF89A;
  position:absolute;
  left:56.25rem;
  width:21.875rem;
  border-radius: 1.5625rem;
  box-shadow: 0.3125rem 0.3125rem 0.1875rem #ccc;
}
.Coding
{
  width:21.875rem;
  background-color: #CDF2CA;
  margin-left:1.25rem;
  border-radius:1.5625rem;
  box-shadow: 0.3125rem 0.3125rem 0.1875rem #ccc;
}
.Chess
{
  width:21.875rem;
  background-color:#B5EAEA;
  margin: auto;
  border-radius: 1.5625rem;
box-shadow: 0.3125rem 0.3125rem 0.1875rem #ccc;
}
.Education
{
  background-color: #F4F9F9;
  margin-top: 0.5rem;
  height:30rem;
  border-radius: 1.5625rem;
}
.Swaraj
{
  width:25rem;
  position: absolute;
  margin-left: 1.25rem;
  background-color: #FCF8E8;
  border-radius: 1.5625rem;
}
.Boys
{
  width:25rem;
  position: absolute;
  margin-left: 53.125rem;
  background-color: #D9E4DD;
  border-radius: 1.5625rem;
}
.Bethel
{
  width:25rem;
  position: absolute;
  margin-left: 1.25rem;
  background-color:#FFBB91;
  border-radius: 1.5625rem;
}
.BHU{
  width:25rem;
  position: absolute;
  margin-left: 53.125rem;
  background-color:#E8E8E8;
  border-radius: 1.5625rem;
}
.Contact
{
  margin-top: 0.5rem;
  background-color: #FFF5FD;
}
.instagram
{
  position: absolute;
  margin-left: 1.25rem;
}
.linkedin
{
  position:absolute;
  margin-left: 28.125rem;
}
.mail
{
  position: relative;
  margin-left: 56.25rem;
}
